.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: #141c27;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 4;
  border-right: 1px grey solid;
  overflow-y: auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start; /* Changé pour aligner à gauche */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 10;
  border-bottom: 1px grey solid;
  padding: 15px;
  gap: 10px;
  width: 100%; /* Ajouté pour occuper toute la largeur */
  border-right: 1px solid grey;
}

.trend {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start; /* Changé pour aligner à gauche */
  grid-row-start: 1;
  grid-row-end: 13;
  grid-column-start: 10;
  grid-column-end: 13;
  padding: 15px;
  gap: 10px;
  width: 100%; /* Ajouté pour occuper toute la largeur */
}

.title {
  line-height: 1.15;
  font-size: 20px;
  color: whitesmoke;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.button {
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(242, 185, 54);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logomain {
  width: 100%;
}

.twitter {
  height: 50px;
  padding: 20px;
  color: white;
  transform: rotateY(180deg) rotateX(180deg);
}

.logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid grey;
}

.tweetInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tweetList {
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 4;
  grid-column-end: 10;
  overflow-y: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid grey;
}

.trendsContainer {
  width: 100%;
  padding: 15px;
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tweetbutton {
  border-radius: 20px;
  border: solid 1px #1da1f2;
  font-size: small;
  padding: 10px 20px;
  color: #1da1f2;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* Ajouté pour aligner le bouton à droite */
}

.tweetbutton:hover {
  background-color: #1da1f2;
  color: white;
}

.tweetsection {
  width: 100%;
  line-height: 1.15;
  font-size: 20px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: #8899a6;
}
