.container{
  color: white;
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  background-color: #141C27;
  height: 100vh;
  width: 100vw;
}

.images{
  grid-column-start: 1;
  grid-column-end: 5;
  border: 2px blue solid;
  background-image: url("/bannerTweetFirstPage.jpg");
}

.connexion{
  padding: 20px;
  grid-column-start: 5;
  grid-column-end: 8;
  border: red 2px solid
}

.titre{
  color: white;
  font-size: 60px;
}

.logo{
  transform: rotateX(180deg);
}

.signin{
  background-color: blue;
  color: white;
  width: 100px;
  height: 20px;
}

.signup{
  background-color: black;
  color: aqua;
  width: 100px;
  height: 20px;
}