
.tweetContainer{
    margin-top: 0px;;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: #141C27;
    color: white;
    border-top: grey 1px solid;
    padding-left: 15px;
    padding-top: 15px;
  }
  .head{
    color: grey;
  }

  .logo{
    height: 50px;
    border-radius: 50%;
    padding-right: 10px;
  }

  .head{
    display: flex;
    align-items: center;
  }

  .firstName{
    font-weight: bold;
    color: white;
    font-size: 16px;
  }

  .username{
    padding-right: 5px;
    color:grey,
  }
  
  .icons{
    padding-bottom: 15px;
  }


  